{% extends "base_login.html" %}

{% block title %}Registration Success{% endblock %}

{% block content %}
<div class="full-screen-container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="form-container login-container text-center">
        <div class="mb-4">
            <h2 class="fs-3" style="font-weight: 600;">Registration Successful!</h2>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/cover/success_cover.jpg') }}" alt="Registration Success" style="width: 200px;">
            <p class="mt-3">Congratulations! Your registration was successful. Please check your email for further instructions.</p>
            <a href="{{ url_for('login.login') }}" class="btn btn-primary mt-4">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
