{% extends "base_login.html" %}

{% block title %}Fenamaz - Reset Password{% endblock %}

{% block content %}
<div class="full-screen-container">
    <div class="form-container login-container">
        <div class="d-flex justify-content-between mb-4">
            <h2 class="fs-3" style="font-weight: 600;">Reset Your Password</h2>
            <a href="/" class="exit-icon text-dark">
                <i class="bi bi-x fs-3"></i>
            </a>
        </div>

        <form action="{{ url_for('login.reset_password') }}" method="POST">
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter new password" required>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm new password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
        </form>

        <div class="mt-4 text-center d-flex justify-content-between">
            <p>Remember your password?</p>
            <a href="{{ url_for('login.login') }}" class="text-primary">Login Now!</a>
        </div>
    </div>
</div>
{% endblock %}
