{% extends "base_login.html" %}

{% block title %}Set Up Shop Profile{% endblock %}

{% block content %}
<div class="full-screen-container">
    <div class="form-container registration-container">
        <a href="{{ url_for('seller_registration.seller_verification') }}" class="exit-icon text-dark">
            <i class="bi bi-arrow-left fs-4 px-2"></i>
        </a>
        <h2 class="mb-4 fs-3" style="font-weight: 600;">Register!</h2>
        <h3 class="mb-3 fs-6" style="font-weight: 500;"><strong>Step 7:</strong> Set Up Your Shop Profile</h3>

        <!-- Message Box -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %} 
        
        <form action="{{ url_for('seller_registration.seller_setup_shop_profile') }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="shopName" class="form-label">Shop Name*</label>
                <input type="text" class="form-control" id="shopName" name="shopName" placeholder="Enter shop name" required>
            </div>
            <div class="mb-3">
                <label for="shopDescription" class="form-label">Shop Description*</label>
                <textarea class="form-control" id="shopDescription" name="shopDescription" placeholder="Tell me about your shop..." rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="shopProfilePicture" class="form-label">Upload Profile Picture*</label>
                <input type="file" class="form-control" id="shopProfilePicture" name="shopProfilePicture" accept="image/*" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Save Shop Profile</button>
        </form>
    </div>
</div>
{% endblock %}
