{% extends "base_login.html" %}

{% block title %}Register - Email Verification{% endblock %}

{% block content %}
<div class="full-screen-container">
    <div class="form-container registration-container">
        <a href="{{ url_for('seller_registration.seller_account_info') }}" class="exit-icon text-dark">
            <i class="bi bi-arrow-left fs-4 px-2"></i>
        </a>
        <h2 class="mb-4 fs-3" style="font-weight: 600;">Register!</h2>
        <h3 class="mb-3 fs-6" style="font-weight: 500;"><strong>Step 6:</strong> Email Verification</h3>

        <p class="mb-4">
            Note: A One-Time-Password (OTP) has been sent to your email address. Please check your inbox (or spam/junk folder) for the OTP. You will need to enter it below to verify your account.
        </p>

        <!-- Message Box -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="alert-container">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %} 

        <form action="{{ url_for('seller_registration.seller_verification') }}" method="POST" onsubmit="return validateOtp()">
            <div class="mb-3">
                <label for="otp" class="form-label">OTP Code*</label>
                <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" oninput="numbers_only_limit6(this)" required>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">Confirm</button>
        </form>
    </div>
</div>

{% endblock %}
